.page-container {
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-container {
    color: black;
    border: 5px solid #6C757D;
    border-radius: 1.25rem;
    padding: 1rem;
    max-width: 960px;
  }

  .component-container{
    color: black;
    padding-top: 1rem;
  }

  .page-container .app-container .header hr{
    border: 2px solid black;
    margin-top: 1rem;
  }

  .page-container .app-container .main-container{
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 2rem;
  }

  .border-l{
    border-left: 3px solid rgb(0, 0, 0, 0.2);
    border-bottom: 3px solid rgb(0, 0, 0, 0.2);
    border-top:3px solid rgb(0, 0, 0, 0.2);
  }

  .border-r{
    border-right: 3px solid rgb(0, 0, 0, 0.2);
  }

  .gold-hover:hover {
    color: goldenrod;
  }