.page-container {
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app-container {
    /* max-width: 768px; */
    color: black;
  }

  .app-container {
    /* min-height: calc(75vh); */
    color: black;
    border: 5px solid rgb(0, 0, 0, 0.65);
    border-radius: 2rem;
    padding: 1rem;
  }

  .component-container{
    color: black;
    padding-top: 1rem;
  }

  .page-container .app-container .header hr{
    border: 3px solid black
  }

  .page-container .app-container .main-container{
        margin-top: auto;
        margin-bottom: auto;
        /* margin-bottom: auto; */
        /* padding-top: 3rem; */
        padding-bottom: 2rem;

  }

  .border-l{
    border-left: 3px solid rgb(0, 0, 0, 0.2);
  }

