<div class="container">
  <div class="row">
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4">
      <div class="header">
        <button routerLink="/about-me" class="btn btn-primary">About Me</button>
        <button routerLink="/album" class="btn btn-primary">Album</button>
        <button routerLink="/artist" class="btn btn-primary">Artist</button>
        <button routerLink="/home" class="btn btn-primary">Home</button>
        <button routerLink="/offer" class="btn btn-primary">Offer</button>
      </div>
    </div>
  </div>
</div>